name: Build and Deploy

on:
  # Uncomment the following lines to enable the workflow on push to the main branch
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    uses: harold-barron/actions/.github/workflows/build_Node.yaml@main
    with:
      package-path: .

  deploy:
    needs: build
    uses: harold-barron/actions/.github/workflows/deploy_Node_Azure.yaml@main
    secrets: inherit
      
